<%- include('../includes/head', { title: "Liste des categories" }) %>

    <!-- Sidebar -->
    <%- include('../includes/sidebar', { path: path }) %>


        <div class="flex-1 flex flex-col">
            <!-- Header -->
            <%- include('../includes/header') %>

                <main class="flex-1 p-6 space-y-10">

                    <!-- Formulaire -->
                    <section class="bg-white p-6 rounded-2xl shadow">
                        <h2 class="text-lg font-semibold mb-4">Ajouter Un article</h2>
                        <form action="/articles/add" method="POST"
                            class="grid grid-cols-1 md:grid-cols-1 gap-4 w-full md:w-1/2">
                            <input type="hidden" readonly name="_csrf" value="<%= csrfToken %>">
                            <div class="md:col-span-1">
                                <p class="text-sm font-semibold text-black-500 mt-1">Titre</p>
                                <input type="text" name="title" value="<% if(editing) { %><%= category.title %><% } %>"
                                    class="border px-2 py-1 text-sm rounded w-full" />
                                <% if(errorsMessage.find(e=> e.path === 'title')) { %>
                                    <p class="text-xs text-red-500 mt-1">
                                        <%= errorsMessage.find(e=> e.path === 'title').msg %>
                                    </p>
                                    <% } %>
                            </div>
                            <div class="md:col-span-1">
                                <p class="text-sm font-semibold text-black-500 mt-1">Slug</p>
                                <input type="text" name="slug" value="<% if(editing) { %><%= category.slug %><% } %>"
                                    class="border px-2 py-1 text-sm rounded w-full" />
                                <% if(errorsMessage.find(e=> e.path === 'slug')) { %>
                                    <p class="text-xs text-red-500 mt-1">
                                        <%= errorsMessage.find(e=> e.path === 'slug').msg %>
                                    </p>
                                    <% } %>
                            </div>

                            <div class="md:col-span-1">
                                <p class="text-sm font-semibold text-black-500 mt-1">Catégorie</p>
                                <select name="categories" class="border px-2 py-1 text-sm rounded w-full" multiple>
                                    <% for(let category of categories) { %>
                                    <option value="<%= category.id %>"><%= category.title %></option>
                                    <% } %>
                                </select>
                                <% if(errorsMessage.find(e=> e.path === 'categories')) { %>
                                    <p class="text-xs text-red-500 mt-1">
                                        <%= errorsMessage.find(e=> e.path === 'categories').msg %>
                                    </p>
                                    <% } %>
                            </div>

                            <div class="md:col-span-1">
                                <p class="text-sm font-semibold text-black-500 mt-1">Contenu</p>
                                <textarea name="content"
                                    class="border px-2 py-1 text-sm rounded w-full h-24"></textarea>
                                <% if(errorsMessage.find(e=> e.path === 'content')) { %>
                                    <p class="text-xs text-red-500 mt-1">
                                        <%= errorsMessage.find(e=> e.path === 'content').msg %>
                                    </p>
                                    <% } %>
                            </div>

                            <div class="md:col-span-1 flex justify-end">
                                <button type="submit"
                                    class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700">Soumettre</button>
                            </div>
                        </form>
                    </section>
                </main>
        </div>
        </div>



        <%- include('../includes/end') %>